apiVersion: v1
kind: Service
metadata:
  name: backend-service
spec:
  type: NodePort  # <-- Add this line
  selector:
    app: backend
  ports:
    - port: 5000      
      nodePort: 32410  # <-- Optional: you can let Kubernetes choose or set manually (range: 30000-32767)
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: backend
spec:
  replicas: 1
  selector:
    matchLabels:
      app: backend
  template:
    metadata:
      labels:
        app: backend
    spec:
      containers:
        - name: backend
          image: gvnaressh/todo-backend:latest
          env:
            - name: DATABASE_URL
              value: "postgresql://pernsss_store_user:re4rSmMlmbqlZF2HY2d8yJZJa1i9v6C5@dpg-d4bae9odl3ps739932hg-a.singapore-postgres.render.com/pernssss_store?sslmode=require"
          ports:
            - containerPort: 5000
